<html>
  <head>
    <title>Éditer un potin</title>
  <body>
    <h1>Édite ton potin</h1>
     <p>Balance ton potin via le forumlaire ci-dessous</p>
     <form action='/gossips/new/' method='POST'>
        Saison ici ton nom : <input type='text' name='gossip_author'/><br/>
        Balance ton potin : <input type='text' name='gossip_content'/><br/>
        <input type='submit'/>
     </form>
  </body>
  </head>
</html>